In [4]:
fname = input("Please enter first name: " )
lname = input("Please enter last name: ")
print("Your full name is: ",fname, " ", lname)

Please enter first name: Rizwan
Please enter last name: Aftab
Your full name is:  Rizwan   Aftab

In [17]:
x=5
def add():
    x =3
    x =x+5
    print(x)

In [18]:
add()
print(x)

8
5

In [ ]:
contiuation with list datatypr :

In [ ]:
organising the list datatype :

In [20]:
cars = ['suzuki','audi','maruti','volvo','benz','rangrover','bmw',]

In [21]:
print(cars)

['suzuki', 'audi', 'maruti', 'volvo', 'benz', 'rangrover', 'bmw']

In [ ]:
#req : i want to organise the above car brands in the alphabetical order ....? A - z

In [ ]:
# two diff approches :

1. temp approach =========> sorted===== original order
2. per approach ==========> sort========permanently

In [22]:
# approach -1

print(sorted(cars))

['audi', 'benz', 'bmw', 'maruti', 'rangrover', 'suzuki', 'volvo']

In [24]:
print(cars) # original order......

['suzuki', 'audi', 'maruti', 'volvo', 'benz', 'rangrover', 'bmw']

In [25]:
print(cars)

['suzuki', 'audi', 'maruti', 'volvo', 'benz', 'rangrover', 'bmw']

In [27]:
# approach 2 : permanent approach

cars.sort()

In [28]:
print(cars)

['audi', 'benz', 'bmw', 'maruti', 'rangrover', 'suzuki', 'volvo']

In [29]:
print(cars)

['audi', 'benz', 'bmw', 'maruti', 'rangrover', 'suzuki', 'volvo']

In [ ]:
# B E, B M ======> e & m ======> e

In [ ]:
interview question : what the diff between sorted and sort method in a list.....?

In [30]:
print(cars)

['audi', 'benz', 'bmw', 'maruti', 'rangrover', 'suzuki', 'volvo']

In [31]:
# req : i want to count the no of elements in yhe list...?

In [32]:
len(cars)

7

In [35]:
# req : how to reserve the elements of the list....?

In [38]:
cars.reverse() # changes will be implied permanently....

In [39]:
print(cars) # Z -A

['volvo', 'suzuki', 'rangrover', 'maruti', 'bmw', 'benz', 'audi']

In [ ]:
slicing the list datatype :

In [ ]:
# general syntax of slicing :

[start value : stopvalue : step count]

Note : stop value is always exclusive, to include the stop value we have to increment the index by +1.

In [41]:
students = ['divya','roohi','jasmine','neha','ravi','abdul','joseph','manpreet']

In [42]:
print(students)

['divya', 'roohi', 'jasmine', 'neha', 'ravi', 'abdul', 'joseph', 'manpreet']

In [ ]:
# i want to include divya and roohi in the slice....

In [43]:
print(students[2:4])

['jasmine', 'neha']

In [44]:
# ravi and abdul

In [45]:
print(students[4:6])

['ravi', 'abdul']

In [46]:
#joseph and manpreet

In [47]:
print(students[6:8])

['joseph', 'manpreet']

In [48]:
print(students[0:8:2])

['divya', 'jasmine', 'ravi', 'joseph']

In [49]:
print(students)

['divya', 'roohi', 'jasmine', 'neha', 'ravi', 'abdul', 'joseph', 'manpreet']